@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}



<div class="container">
    <h1>About Our Furniture Store</h1>

    <h2>Our Group Partners</h2>
    <p class="partner-names">Harsh Dhakecha</p>
    <p class="partner-names">Preet Patel</p>
</div>
